@use '../utilities';

h1{
  font-family: 'Shrikhand', cursive;
  color: utilities.$main-color;
  line-height: 40.82px;
}

p{
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  margin-bottom: 0;  
}


h1, h2, h3{ //multiple selectors
  margin-top: 0;
}

h2{
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
}

h3{
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
}


a, a:visited, a:active{ //remove the defaut text underline that browsers use
  text-decoration: none;
  
}