@use '../utilities';

// Section
.localisation{
  background-color: utilities.$neutral-third-color;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  i{
    margin-right: 17px;
  }

  p{
    font-size: 16px;
  }
}

// Section
.informations{
  text-align: center;

  h2{
   margin-top: 39.5px;
   padding: 0 58px 0 42px;

   @media (min-width:767.98px){
    margin-top: 30px;
    padding: 0;
   }

   @media (min-width:1023.98px){
    font-size: 40px;
    margin-bottom: 30px;
   }
  }
  p{
    margin: 0px 26px 27px 34px;
    font-weight: 300;

    @media (min-width:1023.98px){
      font-size: 18px;
     }
  }
}

// Section 
.how-to{
  background-color: utilities.$neutral-second-color;
  padding: 48px 20px 68px 20px;

  @media (min-width:767.98px){
    padding-bottom: 50px;
  }
}

// Section
.restaurants{
  padding: 54px 20px 66px 20px;
}
