@use '../utilities';

.menu__restaurant{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: utilities.$neutral-second-color;

  img{
    height: 275px ;
    width: 100%;
    object-fit: cover;
    object-position: 100% 60%;

    @media (min-width:767.98px){
      height: 380px;
    }

    //position: relative;
  }

  form{
    background: utilities.$neutral-main-color;
    width: 100%;
    box-sizing: border-box;

    padding: 32px 13px;
    border-top-right-radius: 40px ;
    border-top-left-radius: 40px ;
 
    //position: absolute;
    //top: 280px;

    margin-top: -40px; //pbm with footer if use position absolute
    position: relative;
    
    display: flex;
    flex-direction: column;

    @media (min-width:767.98px){
      width: 758px ;     
     }
  
     @media (min-width:1439.98px){
      width: 1055px ;
     }

    .menu__title{
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      @media (min-width:767.98px){
        justify-content: center;
        h1{
          margin-right: 24px;
        }    
       }

      .card__icon{
        margin-right: 20px;
      }
    }

    .menu__subtitles{
      .menu__subtitles-name{
        margin-top: 30px;
        margin-bottom: 5px;
      }

      .menu__line {
        border-bottom: 3px solid utilities.$third-color;
        width: 40px;
      }
    }
    button{
      margin: auto;
      width: 186px;
      margin-top: 40px;
      margin-bottom: 40px;
      cursor: pointer;

    }
  }
}

