@use '../utilities';

.menu__restaurant{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: utilities.$neutral-second-color;

  img{
    height: 27.5rem ;
    width: 100%;
    object-fit: cover;
    object-position: 100% 60%;

    @media (min-width:767.98px){
      height: 38rem;
    }

    //position: relative;
  }

  form{
    background: utilities.$neutral-main-color;
    width: 100%;
    box-sizing: border-box;

    padding: 3.2rem 1.3rem;
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
 
    //position: absolute;
    //top: 280px;

    margin-top: -4rem; //pbm with footer if use position absolute
    position: relative;
    
    display: flex;
    flex-direction: column;

    @media (min-width:767.98px){
      width: 75.8rem ;     
     }
  
     @media (min-width:1439.98px){
      width: 105.5rem ;
     }
    
    .menu__title{
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      @media (min-width:767.98px){
        justify-content: center;
        h1{
          margin-right: 2.4rem;
        }    
       }

      .card__icon{
        margin-right: 2rem;
      }
    }

    .menu__subtitles{
      .menu__subtitles-name{
        margin-top: 3rem;
        margin-bottom: 0.5rem;
      }

      .menu__line {
        border-bottom: 0.3rem solid utilities.$third-color;
        width: 4rem;
      }
    }
    button{
      margin: auto;
      width: 18.6rem;
      margin-top: 4rem;
      margin-bottom: 4rem;
      cursor: pointer;

    }
  }
}

