
//COLORS

// Brand colors
  $main-color:#9356DC;
  $second-color:#FF79DA;
  $third-color:#99E2D0;
  $fourth-color:#008766;

//Neutral colors
  $neutral-main-color:#F6F6F6;
  $neutral-second-color: #FFFFFF;
  $neutral-third-color:#EAEAEA;
  $neutral-fourth-color:#353535;
  $neutral-fifth-color:#7E7E7E;



//ANIMATION

  $shake-intensity:0.15rem;
  
  $dish-step: 0.10s;

  $starters-delay: 0.25s;
  $meal-delay: 0.75s;
  $dessert-delay: 1.25s;




