@use '../utilities';

// cta buttons
.cta{
  background: linear-gradient( utilities.$second-color ,utilities.$main-color );
  padding: 13px 18.75px;
  color: white;
  border-radius:25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  transition: all 0.2s ease-in-out; // transition for smooth effect

  &:hover{
    opacity: 0.85;

  }
}