@use '../utilities';

//HomePage card

.how-to__card{
  background-color: utilities.$neutral-main-color;

  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 28px 38px;
  border-radius: 20px;
  margin-left: 12px;
  margin-bottom: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

  position: relative;

  @media (min-width:767.98px){
    margin: auto;
    margin-bottom: 25px;
    width: 50% ;
   }
  
  @media (min-width:1023.98px){
    width: 23%;
    margin-bottom: 0;
  }

  .icon-number{
    position: absolute;
    left: -14px;

    width: 24px;
    height: 24px;
    border-radius: 50%;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;

    background-color: utilities.$main-color;
    color: utilities.$neutral-second-color;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fa-solid{
    position: absolute;
    left: 10%;
  }
  .color1{
    color: utilities.$neutral-fifth-color;
  }
  .color2{
    color: utilities.$main-color;
  }

}

@media (min-width:1023.98px){
  .how-to__container{
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    margin: auto;
    justify-content: space-between;
    
  }

  .how-to__title{
    max-width: 1024px;
    margin: auto;
    margin-bottom: 25px ;
  }  
}

