@use '../utilities';

//--------------------------------HomePage card

.how-to__card{
  background-color: utilities.$neutral-main-color;

  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 2.8rem 3.8rem;
  border-radius: 2rem;
  margin-left: 1.2rem;
  margin-bottom: 2.5rem;
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.15);

  position: relative;
  box-sizing: border-box;

  @media (min-width:767.98px){
    margin: auto;
    margin-bottom: 2.5rem;
    width: 50% ;
   }
  
  @media (min-width:1023.98px){
    width: 30%;
    margin-bottom: 0;
  }

  .icon-number{
    position: absolute;
    left: -1.2rem;

    width: 2.4rem;
    height: 2.4rem;
    border-radius: 5rem;

    background-color: utilities.$main-color;
    color: utilities.$neutral-second-color;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fa-solid{
    position: absolute;
    left: 10%;
  }
  .color1{
    color: utilities.$neutral-fifth-color;
  }
  .color2{
    color: utilities.$main-color;
  }

}

@media (min-width:1023.98px){
  .how-to__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto; 
  }

  .how-to__title{
    max-width: 1024px;
    margin: auto;
    margin-bottom: 2.5rem ;
  }  
}

