@use '../utilities';

//HomePage card
// How-To
.how-to__card{
  background-color: utilities.$neutral-main-color;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 28px 38px;
  border-radius: 20px;
  margin-left: 12px;
  margin-bottom: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

  position: relative;
  
  .icon-number{
    position: absolute;
    left: -14px;

    width: 24px;
    height: 24px;
    border-radius: 50%;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;

    background-color: utilities.$main-color;
    color: utilities.$neutral-second-color;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fa-solid{
    position: absolute;
    left: 10%;
  }
  .color1{
    color: utilities.$neutral-fifth-color;
  }
  .color2{
    color: utilities.$main-color;
  }
}

