@use '../utilities';

.menu__card{
  background-color: utilities.$neutral-second-color;

  margin: 1.2rem 0;
  padding: 1.2rem 1.5rem;
  padding-right: 0;
  border-radius: 1.5rem;
  height: 6.9rem;
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  cursor: pointer;

  .menu__dish{
    display: flex;
    align-items:flex-end;
    width: 100%;
    position: relative;

    .menu__dish--price{
      position: absolute;
      display: flex;//
      right: 5%;
      padding-left: 0.5rem;
    }

    .menu__dish--description h5 {
      @media (max-width:374.97px){
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
        width: 26rem;
      }
      @media (min-width:374.98px){
        width: 100%;
      }
    }

    .menu__dish--description p{
      @media (max-width:374.97px){
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
        width: 22rem;
      }
      @media (min-width:374.98px){
        width: 100%;
      }
    }
  }

  .menu__checkbox{
    height: 6.9rem;
    
    background: utilities.$third-color;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;

    order:1;

    .fa-circle{
      color: white;
      position: relative;
      display: none;
    }
    .fa-check{
      color: utilities.$third-color;
      position: absolute;
      z-index: 1;
      display: none;
    }
  }
}

/*********************HOVER text menu card******************/
.menu__checkbox{
  width: 0;
  transition: width 0.25s cubic-bezier(.22,.76,.69,.93);
}

.menu__card:hover{ 
  .menu__checkbox{
    display: flex;
    width: 5.9rem;
  }

  .menu__dish--description h5 {
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;

    width: 22.5rem;

    @media (min-width:374.98px){
      width:28rem;
    }
    @media (min-width:424.98px){
      width:32rem;
    }
  }
  
  .menu__dish--description p{
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    width: 18.5rem;

    @media (min-width:374.98px){
      width:24rem;
    }
    @media (min-width:424.98px){
      width:29rem;
    }
  }
  .fa-check, .fa-circle{
    display: flex;
  }
}

.menu__card:not(:hover) {
  .menu__checkbox {
    width: 0;
    transition: width 0.25s cubic-bezier(.88,.26,1,.81);
  }
}

/************************ACTIVE menu card**********************/
.menu__card:active{ 
  flex-direction: row-reverse;
  padding-left: 0;

  
  .menu__checkbox{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;

    margin-right: 1.5rem;
  
    animation: slideLeftMobile 0.5s ease-in-out;

    @media (min-width: 768px){
      animation: slideLeftTablet 0.5s ease-in-out;
    }

    @media (min-width:1439.98px){
      animation: slideLeftLaptop 0.5s ease-in-out;
    }
  }
}

@keyframes slideLeftMobile{
  0% {
    transform: translateX(80vw);
  }
  50% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(1.8rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideLeftTablet{
  0% {
    transform: translateX(67rem);
  }
  50% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(1.8rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideLeftLaptop{
  0% {
    transform: translateX(96rem);
  }
  50% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(1.8rem);
  }
  100% {
    transform: translateX(0);
  }
}



/*************************ANIMATION Opacity menu card*************************/
.menu__starters, .menu__meals, .menu__desserts, .menu__card {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu__starters {
  animation-delay: utilities.$starters-delay;
  
  @for $i from 2 through 10 { //Sass Loop 
    .starter#{$i} {
      animation-delay: utilities.$starters-delay + ($i - 1 ) * utilities.$dish-step;
    }
  }
}

.menu__meals {
  animation-delay: utilities.$meal-delay;
  
  @for $i from 2 through 10 {
    .meal#{$i} {
      animation-delay: utilities.$meal-delay + ($i - 1 ) * utilities.$dish-step;
    }
  }
}

.menu__desserts {
  animation-delay: utilities.$dessert-delay;
  
  @for $i from 2 through 10 {
    .dessert#{$i} {
      animation-delay: utilities.$dessert-delay + ($i - 1) * utilities.$dish-step;
    }
  }
}


