@use '../utilities';

//--------------------------------LOADER N°1

.loader{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: utilities.$neutral-third-color ;
  opacity: 1;
  display: flex;
  justify-content: center;

  animation: loaderPage 0.25s ease-out forwards;
  animation-delay: 1.6s;
  transform-origin: left;

  .loaderneutral{
    display: none;
  }

  @keyframes loaderPage {
    0% {
      transform: scaleX(1);
    }

    100% {
    transform: scaleX(0);
    }
  }

  div{
    margin-top: 20rem;
  }

  .loaderactive{
    background:linear-gradient(to bottom, utilities.$second-color ,utilities.$main-color );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 

    width: 110%;
    position: relative;
  }  
  .menu__line{
    position: absolute;
    z-index: 10;
    top: 2rem;
    right: 48.5vw;
    z-index: -1;

    height: 1.5rem;
    width: 1.5rem;   
    border-radius: 5rem;
    background:utilities.$third-color;

    animation: menuLine 1.5s linear forwards;

    transform-origin: center;
  }

  @keyframes menuLine {
    0%{
      transform: rotate(0deg) translateX(146px);
    }
    
    100%{
      transform: rotate(360deg) translateX(146px);
    }
  }
}

//-----------------------------------LOADER N°2
/*
.loader{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: utilities.$neutral-third-color ;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  animation: loaderPage 0.25s ease-out forwards;
  animation-delay: 2s;

  @keyframes loaderPage {
    0% {
      width: 100%;
    }

    100% {
    width: 0;
    z-index: -10;
    }
  }

  div{
    margin-top: 20rem;
    position: relative;

    animation:titleEnd 0.25s ease-in-out forwards;
    animation-delay: 1.75s;

    @keyframes titleEnd {
      0%{
        opacity: 1;
      }
      100%{
        opacity: 0;
      }
    }
  }

  .loaderneutral{
    z-index: -1;
    opacity: 1;
  }

  .loaderactive{
    position: absolute;
    top: 0;
    bottom: 0;
    
    width: 0;
    background:linear-gradient(to right, utilities.$second-color ,utilities.$main-color );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 

    animation: titleColor 1.5s ease-out forwards;
    animation-delay: 0.25s;
    
    @keyframes titleColor {
      0% {
        width: 0;
      }  

      30% {
        width: 45%;
      }

      70%{
        width: 85%;
      }
      
      100% {
        width: 110%; //Cover the all title
      }
    }
  }  
}
*/