@use '../utilities';


footer{
  padding: 2.2rem 2.5rem;
  background: utilities.$neutral-fourth-color;

  @media (min-width:767.98px){
    display: flex;
    flex-direction:row-reverse;
    justify-content: flex-start;
    align-items: flex-end;

    height: 11.4rem;

    box-sizing: border-box;
  }

  .footer__links{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start; //to have the cursor pointer only on the link

    @media (min-width:767.98px){
      flex-direction: row;
    }

    a{
      color: utilities.$neutral-second-color;
      margin-bottom: 0.7rem;

      @media (min-width:767.98px){
        margin-bottom: 0;
        margin-right: 2.5rem;
      }

      i{ //space between icon and texte
        margin-right: 1.1rem;
        width: 1.1rem;
      }

      &:nth-child(2){ 
        i{
          transform: rotate(-35deg);
        }

        @media (min-width:767.98px){
          margin-right: 5rem;
        }
      }
    }
  }
  
  .logo-color {
    height: 2.7rem;
    margin-bottom: 1.6rem;
    filter: invert(1) brightness(200%);
    /*invert(1):invert the colors, making it a negative.
      The value 1 represents the maximum value of the filter
      Increase the brightness.
    */
    
    @media (min-width:767.98px){
      margin-bottom: 0;
      margin-left: 2.5rem;
      height: 1.9rem;
    }
  }
}