@use '../utilities';

header{
  background-color: utilities.$neutral-second-color;
  height: 63px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  nav{
    position: absolute;
    left: 5%;
    //display: none;
    i{
      color:utilities.$neutral-fourth-color;
    }
  }
  img{
    height: 30px;
  } 
}

