@use '../utilities';

header{
  background-color: utilities.$neutral-second-color;
  height: 6.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.15);
  nav{
    position: absolute;
    left: 5%;
    i{
      color:utilities.$neutral-fourth-color;
    }
  }

  img{
    height: 3rem;
  } 

  @media (min-width:1023.98px){
    box-shadow: none;
  }
}

