html{
  box-sizing: border-box;
  font-size: 100%;
}

body{ //reset against default style made by browsers
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #F6F6F6;
}

